!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Kudos! Keeps you up to date on your Twitter followers' big news.
    %link{:rel => 'stylesheet', :href => '/stylesheets/bootstrap.css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/bootstrap-responsive.css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/common.css'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'keywords', :content => ''}
    %meta{:name => 'description', :content => ''}
  %body
    .container-narrow
      .masthead
        %h3 Kudos! <small>Twitter Edition</small>
      %hr
      = yield
      %hr